// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$if-210-ensign-flag-nation-russia-2634398-name: 'if_210_Ensign_Flag_Nation_russia_2634398';
$if-210-ensign-flag-nation-russia-2634398-x: 0px;
$if-210-ensign-flag-nation-russia-2634398-y: 0px;
$if-210-ensign-flag-nation-russia-2634398-offset-x: 0px;
$if-210-ensign-flag-nation-russia-2634398-offset-y: 0px;
$if-210-ensign-flag-nation-russia-2634398-width: 24px;
$if-210-ensign-flag-nation-russia-2634398-height: 24px;
$if-210-ensign-flag-nation-russia-2634398-total-width: 48px;
$if-210-ensign-flag-nation-russia-2634398-total-height: 24px;
$if-210-ensign-flag-nation-russia-2634398-image: 'sprite.png';
$if-210-ensign-flag-nation-russia-2634398: (0px, 0px, 0px, 0px, 24px, 24px, 48px, 24px, 'sprite.png', 'if_210_Ensign_Flag_Nation_russia_2634398', );
$if-273-ensign-flag-nation-kingdom-2634450-name: 'if_273_Ensign_Flag_Nation_kingdom_2634450';
$if-273-ensign-flag-nation-kingdom-2634450-x: 24px;
$if-273-ensign-flag-nation-kingdom-2634450-y: 0px;
$if-273-ensign-flag-nation-kingdom-2634450-offset-x: -24px;
$if-273-ensign-flag-nation-kingdom-2634450-offset-y: 0px;
$if-273-ensign-flag-nation-kingdom-2634450-width: 24px;
$if-273-ensign-flag-nation-kingdom-2634450-height: 24px;
$if-273-ensign-flag-nation-kingdom-2634450-total-width: 48px;
$if-273-ensign-flag-nation-kingdom-2634450-total-height: 24px;
$if-273-ensign-flag-nation-kingdom-2634450-image: 'sprite.png';
$if-273-ensign-flag-nation-kingdom-2634450: (24px, 0px, -24px, 0px, 24px, 24px, 48px, 24px, 'sprite.png', 'if_273_Ensign_Flag_Nation_kingdom_2634450', );
$spritesheet-width: 48px;
$spritesheet-height: 24px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($if-210-ensign-flag-nation-russia-2634398, $if-273-ensign-flag-nation-kingdom-2634450, );
$spritesheet: (48px, 24px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
