
.breadcrumb {
    margin: 0;
    background: transparent;
}

.form-group > .help-block{
    color: red;
}

.google-analytics-logo,
.ya-metrika-logo {
    display: inline-block;
    width: 150px;
    height: 40px;
}

.google-analytics-logo {
    background: url("/backend/web/img/logo-google-analytics.png") no-repeat;
    background-size: cover;
}

.ya-metrika-logo {
    background: url("/backend/web/img/yandeks_metrika_0.png") no-repeat;
    background-size: cover;
}
.shoes,
.clothes,
.others {
    display: none;
}
.popover-body{
    white-space: pre-wrap;
}