@media (max-width: 992px) {
  .slider-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 600px;
    overflow: hidden; }
    .slider-container .carousel {
      height: 600px; }
  .carousel-item {
    height: 600px; }
  .carousel-item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .carousel-indicators {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    height: 40px;
    margin: 0;
    bottom: 0;
    background: white; }
    .carousel-indicators li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 40px;
      margin: 0;
      background-color: rgba(255, 250, 250, 0); }
      .carousel-indicators li .indicator-active {
        width: 100%;
        height: 1px;
        background: #c9c9c9; }
      .carousel-indicators li .indicator-text-wrapper {
        width: 100%;
        text-indent: 1px;
        height: 39px;
        padding-top: 6px;
        text-align: center; }
      .carousel-indicators li.active {
        background: none;
        opacity: 1 !important; }
        .carousel-indicators li.active .indicator-active {
          width: 100%;
          height: 1px;
          background: #000; }
        .carousel-indicators li.active .indicator-text-wrapper {
          font-weight: 600; }
  .carousel-control-btn {
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.53); }
  .slide-item-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }
  .img-side-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important; }
    .img-side-container img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .text-slide-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .slide-text-wrapper {
    max-width: 60%; }
    .slide-text-wrapper h4 {
      padding-bottom: 15px;
      font-weight: 400;
      font-size: 28px; }
    .slide-text-wrapper p {
      font-weight: 200;
      padding-bottom: 10px; }
    .slide-text-wrapper a {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 10px 15px;
      display: block;
      text-decoration: none;
      color: #000;
      border: 1px solid black; }
      .slide-text-wrapper a:hover {
        background: #000;
        color: white; }
  .slide-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (min-width: 993px) {
  .slider-container {
    height: 650px;
    overflow: hidden; }
    .slider-container .carousel {
      height: 650px; }
  .carousel-control-prev,
  .carousel-control-next {
    width: 100px; }
  .carousel-item {
    height: 650px; }
  .carousel-control-btn {
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.53); }
  .carousel-indicators {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    height: 40px;
    margin: 0;
    bottom: 0;
    background: white; }
    .carousel-indicators li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 40px;
      margin: 0;
      background-color: rgba(255, 250, 250, 0); }
      .carousel-indicators li .indicator-active {
        width: 100%;
        height: 1px;
        background: #c9c9c9; }
      .carousel-indicators li .indicator-text-wrapper {
        width: 100%;
        text-indent: 1px;
        height: 39px;
        padding-top: 6px;
        text-align: center; }
      .carousel-indicators li.active {
        background: none;
        opacity: 1 !important; }
        .carousel-indicators li.active .indicator-active {
          width: 100%;
          height: 1px;
          background: #000; }
        .carousel-indicators li.active .indicator-text-wrapper {
          font-weight: 600; }
  .slide-item-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }
  .img-side-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .img-side-container img {
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .carousel-caption {
    bottom: 43%; }
  .slide-text-wrapper h4 {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 28px;
    color: white; }
  .slide-text-wrapper p {
    font-weight: 200;
    padding-bottom: 10px;
    color: white; }
  .slide-text-wrapper a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white; }
  .slide-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (max-width: 768px) {
  .slider-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 510px;
    overflow: hidden; }
    .slider-container .carousel {
      height: 510px; }
    .slider-container .carousel-control-next,
    .slider-container .carousel-control-prev {
      display: none; }
  .carousel-inner {
    height: 510px; }
  .carousel-item {
    height: 510px; }
  .carousel-indicators {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .carousel-indicators li {
      width: 5px;
      -webkit-box-flex: unset;
      -webkit-flex-grow: unset;
          -ms-flex-positive: unset;
              flex-grow: unset;
      height: 5px;
      background: #c2c2c2;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      margin-left: 5px; }
      .carousel-indicators li.active {
        background: #000; }
      .carousel-indicators li:hover {
        cursor: pointer; }
  .indicator-active {
    display: none; }
  .indicator-text-wrapper {
    display: none; }
  .carousel-indicators {
    height: 5px; }
  .slide-item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .img-side-container {
    height: 350px;
    padding: 0; }
    .img-side-container img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .text-slide-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .text-slide-container .slide-text-wrapper {
      padding-top: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 100%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
      .text-slide-container .slide-text-wrapper h4 {
        padding-bottom: 10px;
        margin: 0;
        font-size: 18px;
        text-align: center; }
      .text-slide-container .slide-text-wrapper p {
        padding-bottom: 10px;
        margin: 0;
        text-align: center;
        font-size: 12px; }
      .text-slide-container .slide-text-wrapper a {
        font-size: 14px;
        border: none;
        padding: 0 0 10px 0;
        text-align: center; }
        .text-slide-container .slide-text-wrapper a:hover {
          background: none;
          padding: 0;
          border: none;
          color: black;
          text-decoration: underline; } }

.news-container {
  padding-top: 50px; }
  .news-container .block-header-container {
    height: 60px; }

.block-text {
  height: 60px; }
  .block-text_text {
    margin: 0;
    font-size: 22px;
    font-weight: 300; }
  .block-text_elem {
    display: block;
    width: 60px;
    height: 1px;
    background: #aeaeae;
    margin-right: 30px; }

.block-next a {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
  padding: 3px;
  margin-right: 12px; }
  .block-next a:hover {
    color: #000; }
  .block-next a .icon {
    position: absolute;
    top: 6px;
    right: -12px;
    font-size: 16px; }

.news-full-container,
.news-short-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.news-full-container {
  padding-top: 30px; }
  .news-full-container .card-news {
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 0;
    padding-left: 10px; }
  .news-full-container .card-body {
    padding: 20px 0; }
  .news-full-container .card-title {
    font-size: 18px; }
  .news-full-container .card-text {
    position: relative;
    font-size: 14px;
    line-height: 26px; }
  .news-full-container .card-text-link {
    position: absolute;
    right: 12px;
    color: #aeaeae; }
    .news-full-container .card-text-link:hover {
      color: #000; }
    .news-full-container .card-text-link .icon {
      position: absolute;
      top: 6px;
      right: -12px;
      font-size: 16px; }
  .news-full-container .card-date {
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300; }

.card-img-wrapper {
  min-height: 410px;
  height: 410px;
  overflow: hidden;
  border: 1px solid #d5d5d5; }
  .card-img-wrapper img {
    width: 100%; }

.news-short-item {
  position: relative;
  height: 102px;
  padding-top: 10px;
  border-bottom: 1px solid #d5d5d5; }
  .news-short-item a {
    display: block;
    height: 100%;
    color: black;
    font-size: 16px;
    font-weight: 500; }
    .news-short-item a:hover {
      text-decoration: none; }
  .news-short-item .news-short-date {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #aeaeae; }

@media (min-width: 768px) {
  .news-short-container {
    padding-top: 30px; } }

@media (max-width: 992px) {
  .card-img-wrapper {
    min-height: 350px;
    height: 350px; }
  .news-full-container .card-news {
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 0; }
  .news-short-container {
    padding: 10px 20px; } }

@media (min-width: 993px) and (max-width: 1199px) {
  .card-text-link {
    bottom: -24px; } }

@media (max-width: 768px) {
  .block-text_elem {
    width: 40px;
    margin-right: 10px; }
  .block-text_text {
    font-size: 18px; }
  .block-next a {
    font-size: 12px; }
  .news-full-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

main {
  padding: 0; }

header {
  background: #ffffff;
  border-bottom: 1px solid #d5d5d5; }

@media (max-width: 768px) {
  header {
    padding: 0; }
  .navbar-brand {
    display: block; }
  .header-container {
    display: none; }
  .dropdown-menu {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d5d5d5;
    z-index: 1 !important; }
    .dropdown-menu.show {
      width: 100% !important;
      left: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .dropdown-menu .row {
      display: block; }
  .go-top {
    right: 10px;
    z-index: 1000; }
  .bar {
    width: 20px;
    height: 1px;
    display: block;
    position: relative;
    background: #000000;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -o-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s; }
    .bar.topBar {
      -webkit-transform: translateY(0px) rotate(0deg);
          -ms-transform: translateY(0px) rotate(0deg);
              transform: translateY(0px) rotate(0deg); }
    .bar.btmBar {
      -webkit-transform: translateY(6px) rotate(0deg);
          -ms-transform: translateY(6px) rotate(0deg);
              transform: translateY(6px) rotate(0deg); }
  .menu-opened .bar {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -o-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s; }
    .menu-opened .bar.topBar {
      -webkit-transform: translateY(4px) rotate(45deg);
          -ms-transform: translateY(4px) rotate(45deg);
              transform: translateY(4px) rotate(45deg); }
    .menu-opened .bar.btmBar {
      -webkit-transform: translateY(3px) rotate(-45deg);
          -ms-transform: translateY(3px) rotate(-45deg);
              transform: translateY(3px) rotate(-45deg); }
  .mobile-menu-container {
    padding: 0 !important; }
  .ul-mobile {
    padding: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .nav-item {
    border-bottom: 1px solid #d5d5d5; }
    .nav-item:last-child {
      margin-bottom: 10px; }
  .dropdown-menu {
    position: inherit !important;
    will-change: none;
    -webkit-transform: none  !important;
        -ms-transform: none  !important;
            transform: none  !important;
    margin-bottom: 10px; }
  .dropdown-item {
    width: 100%;
    text-align: center; }
  .nav-link {
    font-size: 18px !important;
    text-align: center; } }

@media (min-width: 768px) {
  header {
    padding: 15px 0 0 0; }
  .navbar-brand {
    position: absolute;
    display: none; }
  .dropdown:hover > .dropdown-menu {
    display: block; }
  .dropdown:hover > .dropdown-container {
    display: block;
    -webkit-transform: translateX(-18%);
        -ms-transform: translateX(-18%);
            transform: translateX(-18%);
    left: 18%;
    width: 900px; }
  .dropdown > .dropdown-link:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none; }
  .header-container {
    height: 70px; }
    .header-container .row .search .search-wrapper {
      border: 1px solid #d5d5d5;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 2px 7px; }
      .header-container .row .search .search-wrapper .fa-search {
        color: #d5d5d5; }
    .header-container .row .search .global-search {
      width: 160px;
      height: 30px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      font-size: 15px; }
      .header-container .row .search .global-search:hover {
        outline: none; }
      .header-container .row .search .global-search:active {
        outline: none; }
      .header-container .row .search .global-search:focus {
        outline: none; }
    .header-container .row .brand {
      height: 70px; }
    .header-container .row .language a {
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px; }
      .header-container .row .language a:hover {
        text-decoration: none; }
      .header-container .row .language a span {
        display: inline-block;
        width: 24px;
        height: 19px;
        background: url("/img/sprite.png") 0 0 no-repeat; }
  .hidden {
    display: none; }
  .padding-main {
    padding-top: 130px; }
  .dropdown-container.show {
    -webkit-transform: translateX(-18%);
        -ms-transform: translateX(-18%);
            transform: translateX(-18%);
    left: 18%;
    width: 900px; }
  .dropdown-item {
    font-size: 15px; }
  .fixed-top {
    padding-top: 0;
    border-bottom: 1px solid #d5d5d5; }
  .ul-mobile {
    display: none; } }

@media (max-width: 992px) {
  .nav-link {
    font-size: 14px; }
  .dropdown-container.show {
    -webkit-transform: translateX(-17%);
        -ms-transform: translateX(-17%);
            transform: translateX(-17%);
    left: 17%;
    width: 770px; } }

.nav-container {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0 15px; }

.nav-link {
  color: #000;
  border: none;
  outline: none;
  padding: 6px !important; }
  .nav-link:hover {
    color: #656565; }

.navbar-toggler:focus {
  outline: none; }

.go-top {
  position: fixed;
  width: 40px;
  height: 40px;
  background: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #aeaeae;
  bottom: 50px; }
  .go-top:hover {
    cursor: pointer;
    border: 1px solid black; }
  .go-top:hover > .icon-top {
    color: #000; }

.icon-top {
  position: absolute;
  top: 2px;
  right: 11px;
  color: #aeaeae; }

.display-none {
  display: none; }

.mobile-menu-container {
  background: #ffffff; }

.ul-mobile {
  text-decoration: none;
  list-style: none; }

.padding-mobile {
  padding-top: 45px; }

.dropdown-menu {
  margin: 0; }

@media (min-width: 768px) {
  .container-about {
    padding: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 380px; }
  .logo-about-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 45px;
    font-family: "Times New Roman";
    height: 100%; }
    .logo-about-wrapper img {
      width: 100%; }
  .text-about-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; } }

@media (max-width: 767px) {
  .container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .logo-about-wrapper img {
    width: 100%; } }

@media (min-width: 768px) {
  .footer-wrapper {
    padding: 10px 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .copy-right p {
    margin: 0; }
  .web-developer p {
    margin: 0;
    padding-right: 5px; }
  .web-developer a {
    color: #000; } }

@media (max-width: 767px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0; }
  .copy-right p {
    margin: 0;
    font-size: 14px; }
  .web-developer p {
    margin: 0;
    padding-right: 5px;
    font-size: 14px; }
  .web-developer a {
    color: #000;
    font-size: 14px; } }

.footer-container {
  border-top: 1px solid #d5d5d5; }

.fa-angle-down {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 240.811 240.811' style='enable-background:new 0 0 240.811 240.811;' xml:space='preserve'%3E%3Cg%3E%3Cpath id='Expand_More' d='M220.088,57.667l-99.671,99.695L20.746,57.655c-4.752-4.752-12.439-4.752-17.191,0 c-4.74,4.752-4.74,12.451,0,17.203l108.261,108.297l0,0l0,0c4.74,4.752,12.439,4.752,17.179,0L237.256,74.859 c4.74-4.752,4.74-12.463,0-17.215C232.528,52.915,224.828,52.915,220.088,57.667z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }

.fa-angle-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 240.823 240.823' style='enable-background:new 0 0 240.823 240.823;' xml:space='preserve'%3E%3Cg%3E%3Cpath id='Chevron_Right_1_' d='M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179 l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261 C187.881,124.315,187.881,116.495,183.189,111.816z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }

.fa-angle-right-white {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px; }
  .fa-angle-right-white:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 1px;
    top: 4px;
    left: -2px;
    background: white;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg); }
  .fa-angle-right-white:before {
    position: absolute;
    content: '';
    width: 14px;
    bottom: -4px;
    left: -2px;
    height: 1px;
    background: white;
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg); }

.fa-angle-left-white {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px; }
  .fa-angle-left-white:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 1px;
    top: 4px;
    left: -2px;
    background: white;
    -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
            transform: rotate(-40deg); }
  .fa-angle-left-white:before {
    position: absolute;
    content: '';
    width: 14px;
    bottom: -4px;
    left: -2px;
    height: 1px;
    background: white;
    -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
            transform: rotate(40deg); }

@media (min-width: 768px) {
  .catalog-container {
    padding-top: 10px; }
  .catalog-header-text {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px; }
    .catalog-header-text h4, .catalog-header-text p {
      margin: 0; }
    .catalog-header-text p {
      font-size: 14px;
      color: #aeaeae;
      margin-left: 30px;
      margin-top: 4px; } }

@media (max-width: 767px) {
  .catalog-items-container {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .catalog-header-text h4, .catalog-header-text p {
    font-size: 14px;
    margin: 0; }
  .catalog-header-text p {
    margin-left: 30px; } }

.breadcrumb {
  background-color: white; }

.breadcrumb-item {
  font-size: 14px; }
  .breadcrumb-item a {
    color: #000;
    font-size: 14px; }
  .breadcrumb-item.active {
    position: relative;
    padding: 0 0 0 20px; }
    .breadcrumb-item.active:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 5px;
      left: 6px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 240.823 240.823' style='enable-background:new 0 0 240.823 240.823;' xml:space='preserve'%3E%3Cg%3E%3Cpath id='Chevron_Right_1_' d='M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179 l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261 C187.881,124.315,187.881,116.495,183.189,111.816z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }

.breadcrumb-item + .breadcrumb-item {
  position: relative;
  padding: 0 0 0 20px; }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 6px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 240.823 240.823' style='enable-background:new 0 0 240.823 240.823;' xml:space='preserve'%3E%3Cg%3E%3Cpath id='Chevron_Right_1_' d='M183.189,111.816L74.892,3.555c-4.752-4.74-12.451-4.74-17.215,0c-4.752,4.74-4.752,12.439,0,17.179 l99.707,99.671l-99.695,99.671c-4.752,4.74-4.752,12.439,0,17.191c4.752,4.74,12.463,4.74,17.215,0l108.297-108.261 C187.881,124.315,187.881,116.495,183.189,111.816z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }

.card-item {
  margin: 0 15px 15px 0; }

.catalog-items-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 30px 16px; }

.card-item-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .card-item-body .card-title {
    text-align: center; }
  .card-item-body .card-text {
    font-size: 13px;
    text-align: center; }
  .card-item-body .view-item {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    background: none;
    -webkit-border-radius: 0;
            border-radius: 0; }

/* Shrink wrap strategy 1 */
.easyzoom {
  float: left; }

.easyzoom img {
  display: block; }

@media (min-width: 768px) {
  .add-view-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

.item-view-container {
  padding: 10px 0; }

.item-view-wrapper {
  padding: 0 16px;
  border-bottom: 1px solid #d5d5d5; }

.photo-view-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #d5d5d5; }
  .photo-view-item img {
    -o-object-fit: cover;
       object-fit: cover; }

.description-view-item {
  padding: 0 25px; }
  .description-view-item h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px; }
  .description-view-item h4 {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 400; }
  .description-view-item p {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin-bottom: 3px; }
  .description-view-item span {
    display: inline-block;
    padding: 3px;
    border: 1px solid black;
    color: black; }

.header-other {
  padding: 50px 0; }

.body-other {
  padding-bottom: 50px; }

/**
 * EasyZoom core styles
 */
.photo-view-item {
  position: relative;
  /* 'Shrink-wrap' the element */
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.photo-view-item img {
  vertical-align: bottom; }

.photo-view-item.is-loading img {
  cursor: progress; }

.photo-view-item.is-ready img {
  cursor: crosshair; }

.photo-view-item.is-error img {
  cursor: not-allowed; }

.easyzoom-flyout {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF; }

/**
 * EasyZoom layout variations
 */
.zoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (max-width: 767px) {
  .main-view-item-wrapper, .item-view-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .item-main-description {
    padding: 30px 10px; }
  .description-view-item {
    padding: 30px 25px 0 25px; }
    .description-view-item h3 {
      margin-bottom: 20px; }
  .header-other {
    padding: 20px 0; }
  .photo-view-item {
    border: none; } }

.page-news-container {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
